.action {
  display: flex;
}

.action__item {
  margin-left: 5rem;
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  &:hover {

    > .subnav {
      opacity: 1;
      visibility: visible;
    }

    span {
      color: $yellow;
    }
  }

  span {
    transition: color .2s linear;
  }
}

.action__link {
  display: block;
  padding: 0;

  font-family: inherit;
  font-size: 3.3rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;

  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.has-subnav {
    position: relative;
    padding-right: 3.2rem;

    &:after {
      content: "";
      display: block;

      border-style: solid;
      border-width: 5px 5.5px 0 5.5px;
      border-color: $yellow transparent transparent transparent;

      position: absolute;
      right: 1.25rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.action__icon {
  margin-right: 1rem;
}

@media (max-width: 1660px) {
  .action__link {
    font-size: 2.8rem;
  }
}

@media (max-width: 1440px) {
  .action__link {
    font-size: 2.5rem;
  }

  .action__item {
    margin-left: 3rem;
  }
}

@media (max-width: 1370px) {
  .action__link {
    font-size: 2.3rem;
  }

  .action__icon {
    margin-bottom: -2px;
  }
}

@media (max-width: 1230px) {
  .action__link {
    padding: 0;

    &.has-subnav {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }

  .action {
    .subnav {
      width: 15rem;
      left: -320%;
    }

    span {
      display: none;
    }
  }

  .action__item {
    margin-left: 0;
    margin-right: 3rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .action__icon {
    margin-right: 0;
  }
}