.breadcrumb {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;

  &--delivery {
    margin-bottom: 6.5rem;
  }

  &--card {
    margin-bottom: 3.3rem;
    justify-content: flex-start;
  }

  &--menu {
    margin-bottom: 10rem;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 1rem;
  content: "";
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent $white;

}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 1rem;
}

.breadcrumb-item {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 400;
  color: $white;

  a {
    color: $yellow;
    text-decoration: none;
  }
}

@media (max-width: 326px) {
  .breadcrumb-item {
    margin-bottom: 1rem;
  }
}