.place-banner {
  padding: 3.2rem 0 3.6rem 0;
  background-color: $yellow;
}

.place-banner__items {
  margin-bottom: 3.9rem;
  display: flex;
  flex-wrap: wrap;
}

.place-banner__item {
  margin-bottom: 6.8rem;
  text-align: center;
  width: 50%;

  &:nth-child(3),
  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.place-banner__main-title {
  margin: 0 auto 1.7rem;
  text-align: center;
  max-width: 312px;
  font-size: 3.8rem;
  font-weight: 700;
  color: $black;
}

.place-banner__icon {
  margin: 0 auto 1rem;
  display: block;
  max-width: 100%;
  height: auto;

  &--second {
    margin-bottom: 3.2rem;
  }
}

.place-banner__title {
  font-size: 3.2rem;
  font-weight: 400;
  color: $black;
}

.place-banner__btn {
  display: block;
  margin: 0 auto;
  padding: 1.2rem 5.3rem;
  font-weight: 700;

  &:hover {
    background-color: darken($yellow, 3%);
  }
}

@media (max-width: 1900px) {
  .place-banner {
    padding: 3.2rem 3rem 3.6rem 0;
  }

  .place-banner__icon--first {
    width: 100px;
  }

  .place-banner__icon--second {
    width: 120px;
  }

  .place-banner__icon--third {
    width: 77px;
  }

  .place-banner__icon--fourth {
    width: 81px;
  }
}

@media (max-width: 1840px) {
  .place-banner {
    padding: 3rem 3rem 3rem 0;
  }

  .place-banner__icon--first {
    width: 95px;
  }

  .place-banner__icon--second {
    width: 115px;
  }

  .place-banner__icon--third {
    width: 72px;
  }

  .place-banner__icon--fourth {
    width: 76px;
  }
}

@media (max-width: 1700px) {
  .place-banner__icon--first {
    width: 90px;
  }

  .place-banner__icon--second {
    width: 110px;
  }

  .place-banner__icon--third {
    width: 67px;
  }

  .place-banner__icon--fourth {
    width: 71px;
  }
}

@media (max-width: 1600px) {
  .place-banner {
    padding: 3.2rem 0 3.6rem 0;
    margin-bottom: 9rem;
  }

  .place-banner__item {
    margin-bottom: 0;
    width: 25%;
  }

  .place-banner__main-title {
    margin-bottom: 3.9rem;
  }
}

@media (max-width: 1200px) {
  .place-banner__main-title {
    font-size: 3.2rem;
  }

  .place-banner__title {
    font-size: 2.8rem;
  }
}

@media (max-width: 1100px) {
  .place-banner__item {
    margin-bottom: 6.8rem;
    width: 50%;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 576px) {
  .place-banner {
    margin-bottom: 5rem;
  }

  .place-banner__item {

    width: 100%;

    &:nth-child(3) {
      margin-bottom: 6.8rem;
    }
  }

  .place-banner__main-title {
    font-size: 3rem;
  }

  .place-banner__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 401px) {

  .place-banner__main-title {
    font-size: 2.8rem;
  }

  .place-banner__title {
    font-size: 2.4rem;
  }
}