.subnav {
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;

  padding: 1rem 0;
  width: 23.8rem;
  background-color: $bg-color;
  border: 2px solid $yellow;

  position: absolute;
  top: 130%;
  left: 0;
  z-index: 2;

  li {
    &:hover > a {
      color: $yellow;
    }
  }
}

.subnav__link {
  display: block;
  padding: .5rem 2.2rem;

  color: $white;
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  transition: color .2s linear;
}

@media (max-width: 1660px) {
  .subnav__link {
    font-size: 2.7rem;
  }
}

@media (max-width: 1440px) {
  .subnav__link {
    font-size: 2.4rem;
  }
}

@media (max-width: 1370px) {
  .subnav__link {
    font-size: 2.1rem;
  }

  .subnav {
    width: 20rem;
  }
}