.title {
  text-align: center;
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  color: $yellow;
  font-size: 3.8rem;
  font-weight: 700;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: $yellow;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.title-under {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 23.4rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $gray;
}

@media (max-width: 1600px) {
  .title-under {
    font-size: 20rem;
  }
}

@media (max-width: 1140px) {
  .title {
    font-size: 3.3rem;
  }

  .title-under {
    font-size: 16rem;
  }
}

@media (max-width: 860px) {
  .title-under {
    font-size: 14rem;
  }
}

@media (max-width: 740px) {
  .title {
    font-size: 3rem;
  }

  .title-under {
    font-size: 12rem;
  }
}

@media (max-width: 640px) {

  .title {
    font-size: 2.8rem;
  }

  .title-under {
    font-size: 10rem;
  }
}

@media (max-width: 401px) {
  .title-under {
    font-size: 9rem;
  }
}